/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-color: rgba(30,39,50,0.04);
}

h1 {
  font-size: 24px;
  margin: 20px;
  text-align: center;
  padding: 20px;
  background-color: white;
  border-color: rgb(215, 223, 227);
  border-radius: 3px;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  box-shadow: rgba(14, 30, 38, 0.15) 0px 3px 6px 0px;
  box-sizing: border-box;
  display: block
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

.navigation {
  display: flex;
  background-color: #EEA47FFF;
}

.navigation a, .navigation button {
  background-color: #00539CFF;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.navigation-break {
  margin-left: auto;
}

.navigation p {
  margin-right: auto;
  padding-left: 10px;
  font-size: 16px;
}

.notice, .alert {
  padding: 20px;
  color: white;
  margin-bottom: 15px;
  position: absolute;
  right: 10px;
}

.notice {
  background-color: green;
}

.alert {
  background-color: red;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}

body{
  margin: 0;
}

table{
  width: 90%;
}

#reports {
  border-collapse: collapse;
  width: 90%;
  margin: 30px;
  background-color: white;
  border-color: rgb(215, 223, 227);
  border-radius: 3px;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  box-shadow: rgba(14, 30, 38, 0.15) 0px 3px 6px 0px;
  box-sizing: border-box;
}

#reports td, #reports th {
  border: 1px solid #ddd;
  padding: 8px;
}

#reports th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #eee;
}

.btn-divider{
  width: 100%;
  margin: auto;
  text-align: center;
  margin-top: 50px;
}
.new-report{
  background-color: #00539CFF;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

input{
  margin: 10px;
}
textarea{
  margin:10px;
  width: 50%;
}
input[type=button], input[type=submit], input[type=reset] {
  background-color: #00539CFF;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
textarea:focus, input[type=text]:focus  {
  background-color: lightblue;
}
.back-btn{
  background-color: #00539CFF;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
}
.image{
  width: 75%;
  max-width: 1080px;
}

form {
  margin-left: 20px;
  display: inline-grid;
}

form label {
  margin: 10px;
  margin-bottom: 0px;
}

.check-quality a {
  background-color: #7A2048;
  border-radius: 24px;
}

.schedule-upload {
  margin: 20px;
  padding: 20px;
  text-align: center;
  background-color: white;
  border-color: rgb(215, 223, 227);
  border-radius: 3px;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  box-shadow: rgba(14, 30, 38, 0.15) 0px 3px 6px 0px;
  box-sizing: border-box;
  display: block;
}
