/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

.navigation {
  display: flex;
  background-color: pink;
}

.navigation a, .navigation button {
  background-color: purple;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.navigation a:first-child {
  margin-left: auto;
}

.navigation p {
  margin-right: auto;
  padding-left: 10px;
  font-size: 16px;
}

.notice, .alert {
  padding: 20px;
  color: white;
  margin-bottom: 15px;
  position: absolute;
  right: 10px;
}

.notice {
  background-color: green;
}

.alert {
  background-color: red;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}

.main-title{
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: url("https://img1.10bestmedia.com/Images/Photos/380637/GettyImages-910131818_54_990x660.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left center;
  color: white;
  -webkit-text-stroke: 1px black;
  font-size: 50px;
  margin-top: 0px;
}

body{
  margin: 0;
}
table{
width: 90%;
}

#flowers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 90%;
  margin: 30px;
}

#flowers td, #flowers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#flowers tr:nth-child(even){background-color: #f2f2f2;}

#flowers tr:hover {background-color: #ddd;}

#flowers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: purple;
  color: white;
}

.btn-divider{
  width: 100%;
  margin: auto;
  text-align: center;
  margin-top: 50px;
}
.new-flower{
  background-color: purple;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

input{
  margin: 10px;
}
textarea{
  margin:10px;
  width: 50%;
}
input[type=button], input[type=submit], input[type=reset] {
  background-color: purple;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
textarea:focus, input[type=text]:focus  {
  background-color: lightblue;
}
.back-btn{
  background-color: purple;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
}
.image{
  width: 75%;
  max-width: 1080px;
}

form {
  margin-left: 20px;
  display: inline-grid;
}

form label {
  margin: 10px;
  margin-bottom: 0px;
}
